/* COMMON =============================================================================================> */
.about-page {
    margin: 3vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: var(--lh);
    letter-spacing: var(--ls);
    word-spacing: var(--ws);
}

.about-heading {
    color: var(--text);
    font-family: var(--subtitle-font);
    font-variant: small-caps;
    text-decoration: underline double .15rem;
    text-underline-offset: .75rem;
    font-weight: 500;
}

.about-headshot {
    height: auto;
    border-radius: 100%;
    border: .25vw solid var(--accent);
}

.about-paragraph-container {
    margin-top: 3vw;
    margin-bottom: 1.5vw;
}

.about-paragraph {
    color: var(--text);
    font-family: var(--body-font);
    margin-bottom: 2rem;
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 960px) {
    .about-heading {
        font-size: var(--dh1);
    }

    .about-headshot {
        width: 20vw;
    }

    .about-paragraph {
        font-size: var(--dh6);
        width: 62ch;
    }
}

/* TABLET VIEW =============================================================================================> */
@media screen and (min-width: 769px) and (max-width: 959px) {
    .about-heading {
        font-size: var(--th1);
    }

    .about-headshot {
        width: 40vw;
    }

    .about-paragraph {
        font-size: var(--th6);
        width:46ch;
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .about-heading {
        font-size: var(--mh1);
    }

    .about-headshot {
        width: 60vw;
        margin-bottom: 2vw;
    }

    .about-paragraph {
        font-size: var(--mh6);
        width: 30ch;
    }
}