/* COMMON =============================================================================================> */
.resume-page {
    margin: 3vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: var(--lh);
    letter-spacing: var(--ls);
    word-spacing: var(--ws);
}

.resume-heading {
    color: var(--text);
    font-family: var(--subtitle-font);
    font-variant: small-caps;
    text-decoration: underline double .15rem;
    text-underline-offset: .75rem;
    font-weight: 500;
}

.resume-paragraph {
    color: var(--text);
    font-family: var(--body-font);
}

.resume-download {
    color: var(--accent);
    font-family: var(--body-font);
    text-decoration: none;
}

.resume-download:hover {
    color: var(--highlight);
}

.resume-download:visited {
    color: var(--accent);
}

.resume-container {
    width: 90vw;
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 960px) {
    .resume-heading {
        font-size: var(--dh1);
    }

    .resume-paragraph {
        font-size: var(--dh5);
    }

    .resume-download {
        font-size: var(--dh5);
    }
}

/* TABLET VIEW =============================================================================================> */
@media screen and (min-width: 769px) and (max-width: 959px) {
    .resume-heading {
        font-size: var(--th1);
    }

    .resume-paragraph {
        font-size: var(--th5);
    }

    .resume-download {
        font-size: var(--th5);
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .resume-heading {
        font-size: var(--mh1);
    }

    .resume-paragraph {
        font-size: var(--mh5);
    }

    .resume-download {
        font-size: var(--mh5);
    }
}