/* COMMON =============================================================================================> */
.resume-page {
    margin: 3vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-heading {
    color: var(--text);
    font-family: var(--subtitle-font);
    font-variant: small-caps;
    letter-spacing: .25vw;
    font-weight: 500;
}

.resume-paragraph {
    color: var(--text);
    font-family: var(--body-font);
    letter-spacing: .10vw;
}

.resume-download {
    color: var(--accent);
    font-family: var(--body-font);
    line-height: 1.5rem;
    letter-spacing: .10vw;
    text-decoration: none;
}

.resume-download:hover {
    color: var(--highlight);
}

.resume-download:visited {
    color: var(--accent);
}

.resume-container {
    width: 90vw;
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 960px) {
    .resume-heading {
        font-size: 2.36rem;
    }

    .resume-paragraph {
        font-size: 1rem;
    }

    .resume-download {
        font-size: 1rem;
    }
}

/* TABLET VIEW =============================================================================================> */
@media screen and (min-width: 769px) and (max-width: 959px) {
    .resume-heading {
        font-size: 2.25rem;
    }

    .resume-paragraph {
        font-size: .938rem;
    }

    .resume-download {
        font-size: .938rem;
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .resume-heading {
        font-size: 2.14rem;
    }

    .resume-paragraph {
        font-size: .875rem;
    }

    .resume-download {
        font-size: .875rem;
    }
}