/* COMMON =============================================================================================> */
.header-container {
    display: flex;
    align-items: center;
    margin: 0 3vw 0 3vw;
    padding: 1vw 0 1vw 0;
    border: 10px solid;
    border-image-slice: 1;
    border-width: .25vw;
    border-image-source: var(--accent-gradient);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.header-title {
    color: var(--text);
    font-family: var(--heading-font);
    line-height: 3rem;
    letter-spacing: var(--ls);
    word-spacing: var(--ws);
    font-variant: small-caps;
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 960px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .header-title {
        font-size: var(--dh2);
        width: 57%;
    }
}

/* TABLET VIEW =============================================================================================> */
@media screen and (min-width: 769px) and (max-width: 959px) {
    .header-container {
        flex-direction: column;
        justify-content: center;
    }

    .header-title {
        text-align: center;
        font-size: var(--th2);
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        justify-content: center;
    }

    .header-title {
        text-align: center;
        font-size: var(--mh2);
    }
}