.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    width: 85%;
}

ul:active {
    color: red;
}
