/* COMMON =============================================================================================> */
.link {
    text-decoration: none;
    color: var(--text);
    font-family: var(--subtitle-font);
}

.link:visited {
    color: var(--text);
}

.link:hover {
    color: var(--highlight);
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 960px) {
    .link {
        font-size: 1.54rem;
    }
}

/* TABLET VIEW =============================================================================================> */
@media screen and (min-width: 769px) and (max-width: 959px) {
    .link {
        font-size: 1.46rem;
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .link {
        font-size: 1.37rem;
    }
}
