/* COMMON =============================================================================================> */
.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
    line-height: var(--lh);
    letter-spacing: var(--ls);
    word-spacing: var(--ws);
}

.education-heading {
    color: var(--text);
    font-family: var(--alternate-font);
    font-variant: small-caps;
    font-weight: 500;
    margin-bottom: 2rem;
}

.education-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education-subtitle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.education-subtitle {
    color: var(--text);
    font-family: var(--alternate-font);
    font-variant: small-caps;
    letter-spacing: var(--ls);
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.education-location {
    display: flex;
    justify-content: flex-start;
    color: var(--text);
    font-family: var(--alternate-font);
    margin-top: 0;
    margin-bottom: 2rem;
}

.education-paragraph {
    color: var(--text);
    font-family: var(--body-font);
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 960px) {
    .education-heading {
        font-size: var(--dh2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
    }

    .education-subtitle-container {
        width: 100%;
    }

    .education-subtitle {
        font-size: var(--dh3);
    }

    .education-paragraph {
        font-size: var(--dh6);
        width: var(--dpw);
    }
}

/* TABLET VIEW =============================================================================================> */
@media screen and (min-width: 769px) and (max-width: 959px) {
    .education-heading {
        font-size: var(--th2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
    }

    .education-subtitle-container {
        width: 90%;
    }

    .education-subtitle {
        font-size: var(--th3);
    }

    .education-paragraph {
        font-size: var(--th6);
        width: var(--tpw);
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .education-heading {
        font-size: var(--mh2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
    }

    .education-subtitle-container {
        width: 70%;
    }

    .education-subtitle {
        font-size: var(--mh3);
    }

    .education-paragraph {
        font-size: var(--mh6);
        width: var(--mpw);
    }
}