.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1vw;
    border: 10px solid;
    border-image-slice: 1;
    border-width: .25vw;
    border-image-source: var(--accent-gradient);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.experience-heading {
    color: var(--text);
    font-family: var(--alternate-font);
    font-variant: small-caps;
    letter-spacing: .25vw;
    font-weight: 500;
    font-size: 3vw;
    margin-bottom: 3vw;
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-subtitle-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 75%;
}

.experience-subtitle {
    color: var(--text);
    font-family: var(--alternate-font);
    font-variant: small-caps;
    letter-spacing: .25vw;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 2vw;
    margin-top: 5vw;
}

.experience-year-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.experience-year {
    display: flex;
    justify-content: flex-start;
    color: var(--text);
    font-family: var(--alternate-font);
    margin: 0;
}

.experience-location {
    display: flex;
    justify-content: flex-end;
    color: var(--text);
    font-family: var(--alternate-font);
    margin: 0;
}

.experience-paragraph {
    color: var(--text);
    font-family: var(--body-font);
    text-indent: 3vw;
    font-size: 1.75vw;
    line-height: 2.5vw;
    letter-spacing: .10vw;
    width: 75%;
}