/* COMMON =============================================================================================> */
.other-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
    border: 10px solid;
    border-image-slice: 1;
    border-width: .25vw;
    border-image-source: var(--accent-gradient);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    line-height: var(--lh);
    letter-spacing: var(--ls);
    word-spacing: var(--ws);
}

.other-experience-heading {
    color: var(--text);
    font-family: var(--alternate-font);
    font-variant: small-caps;
    text-align: center;
    font-weight: 500;
}

.other-experience-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other-experience-subtitle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.other-experience-subtitle {
    color: var(--text);
    font-family: var(--alternate-font);
    font-variant: small-caps;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.other-experience-year-location {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.other-experience-year {
    display: flex;
    color: var(--text);
    font-family: var(--alternate-font);
    margin: 0;
}

.other-experience-location {
    display: flex;
    color: var(--text);
    font-family: var(--alternate-font);
    margin: 0;
}

.other-experience-paragraph {
    color: var(--text);
    font-family: var(--body-font);
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 960px) {
    .other-experience-heading {
        font-size: var(--dh2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
    }

    .other-experience-subtitle-container {
        width: 100%;
    }

    .other-experience-subtitle {
        font-size: var(--dh3);
    }

    .other-experience-year-location {
        flex-direction: row;
        font-size: var(--dh5);
        width: 60%;
    }

    .other-experience-paragraph {
        font-size: var(--dh6);
        width: var(--dpw);
    }
}

/* TABLET VIEW =============================================================================================> */
@media screen and (min-width: 769px) and (max-width: 959px) {
    .other-experience-heading {
        font-size: var(--th2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
    }

    .other-experience-subtitle-container {
        width: 90%;
    }

    .other-experience-subtitle {
        font-size: var(--th3);
    }

    .other-experience-year-location {
        flex-direction: row;
        font-size: var(--th5);
        width: 70%;
    }

    .other-experience-paragraph {
        font-size: var(--th6);
        width: var(--tpw);
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .other-experience-heading {
        font-size: var(--mh2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
        line-height: 3rem;
    }

    .other-experience-subtitle-container {
        width: 90%;
    }

    .other-experience-subtitle {
        font-size: var(--mh3);
    }

    .other-experience-year-location {
        flex-direction: column;
        align-items: center;
        font-size: var(--mh5);
        width: 85%;
    }

    .other-experience-paragraph {
        font-size: var(--mh6);
        width: var(--mpw);
    }
}