.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
    border: 10px solid;
    border-image-slice: 1;
    border-width: .25vw;
    border-image-source: var(--accent-gradient);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.summary-heading {
    color: var(--text);
    font-family: var(--alternate-font);
    font-variant: small-caps;
    letter-spacing: .25vw;
    font-weight: 500;
    font-size: 3vw;
    margin-bottom: 0;
}

.summary-paragraph {
    color: var(--text);
    font-family: var(--body-font);
    text-indent: 3vw;
    font-size: 1.75vw;
    line-height: 2.5vw;
    letter-spacing: .10vw;
    width: 75%;
}