/* COMMON =============================================================================================> */
.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
    border: 10px solid;
    border-image-slice: 1;
    border-width: .25vw;
    border-image-source: var(--accent-gradient);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    line-height: var(--lh);
    letter-spacing: var(--ls);
    word-spacing: var(--ws);
}

.summary-heading {
    color: var(--text);
    font-family: var(--alternate-font);
    font-variant: small-caps;
    font-weight: 500;
    margin-bottom: 2rem;
}

.summary-paragraph {
    color: var(--text);
    font-family: var(--body-font);
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 960px) {
    .summary-heading {
        font-size: var(--dh2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
    }

    .summary-paragraph {
        font-size: var(--dh6);
        width: var(--dpw);
    }
}

/* TABLET VIEW =============================================================================================> */
@media screen and (min-width: 769px) and (max-width: 959px) {
    .summary-heading {
        font-size: var(--th2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
    }

    .summary-paragraph {
        font-size: var(--th6);
        width: var(--tpw);
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .summary-heading {
        font-size: var(--mh2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
    }

    .summary-paragraph {
        font-size: var(--mh6);
        width: var(--mpw);
    }
}