/* COMMON =============================================================================================> */
.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
    border: 10px solid;
    border-image-slice: 1;
    border-width: .25vw;
    border-image-source: var(--accent-gradient);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.summary-heading {
    color: var(--text);
    font-family: var(--alternate-font);
    font-variant: small-caps;
    letter-spacing: .25vw;
    font-weight: 500;
    margin-bottom: 0;
}

.summary-paragraph {
    color: var(--text);
    font-family: var(--body-font);
    text-indent: 2.5rem;
    letter-spacing: .10vw;
    line-height: 1.5rem;
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 960px) {
    .summary-heading {
        font-size: 1.91rem;
    }

    .summary-paragraph {
        font-size: 1rem;
        width: 62ch;
    }
}

/* TABLET VIEW =============================================================================================> */
@media screen and (min-width: 769px) and (max-width: 959px) {
    .summary-heading {
        font-size: 1.81rem;
    }

    .summary-paragraph {
        font-size: .938rem;
        width: 46ch;
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .summary-heading {
        font-size: 1.71rem;
    }

    .summary-paragraph {
        font-size: .875rem;
        width: 30ch;
    }
}