.technical-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.technical-heading {
    color: var(--text);
    font-family: var(--alternate-font);
    font-variant: small-caps;
    letter-spacing: .25vw;
    font-weight: 500;
    font-size: 2.5vw;
    margin-bottom: 3vw;
}

.technical-subtitle {
    color: var(--text);
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 1.75vw;
    line-height: 2.5vw;
    letter-spacing: .10vw;
}

.technical-container-outer {
 width: 75%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.technical-container-inner {
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-bottom: 3vw;
}

.technical-list-1 {
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.technical-list-2 {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skills-icon {
    width: auto;
    height: 4vw;
    filter: brightness(0) saturate(100%) invert(96%) sepia(60%) saturate(1135%) hue-rotate(171deg) brightness(101%) contrast(100%);
}

.skills-icon-wide {
    width: 4vw;
    height: auto;
    filter: brightness(0) saturate(100%) invert(96%) sepia(60%) saturate(1135%) hue-rotate(171deg) brightness(101%) contrast(100%);
}

/* Individual icon hover colors */
/* Programming Languages */
.html:hover {
    filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(1506%) hue-rotate(351deg) brightness(101%) contrast(82%);
}

.css:hover {
    filter: brightness(0) saturate(100%) invert(38%) sepia(99%) saturate(6561%) hue-rotate(229deg) brightness(92%) contrast(93%);
}

.js:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(19%) saturate(1849%) hue-rotate(354deg) brightness(109%) contrast(94%);
}

.sql:hover {
    filter: brightness(0) saturate(100%) invert(69%) sepia(49%) saturate(7287%) hue-rotate(353deg) brightness(94%) contrast(84%);
}

/* Frameworks & Systems */
.mongo:hover {
    filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(3784%) hue-rotate(121deg) brightness(94%) contrast(101%);
}

.express:hover {
    filter: brightness(0) saturate(100%) invert(62%) sepia(9%) saturate(21%) hue-rotate(348deg) brightness(90%) contrast(88%);
}

.react:hover {
    filter: brightness(0) saturate(100%) invert(75%) sepia(27%) saturate(821%) hue-rotate(155deg) brightness(97%) contrast(102%);
}

.node:hover {
    filter: brightness(0) saturate(100%) invert(93%) sepia(70%) saturate(687%) hue-rotate(28deg) brightness(83%) contrast(85%);
}

.jquery:hover {
    filter: brightness(0) saturate(100%) invert(30%) sepia(90%) saturate(767%) hue-rotate(171deg) brightness(93%) contrast(94%);
}

.bootstrap:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(92%) saturate(6207%) hue-rotate(270deg) brightness(103%) contrast(97%);
}

.handlebars:hover {
    filter: brightness(0) saturate(100%) invert(19%) sepia(39%) saturate(385%) hue-rotate(349deg) brightness(93%) contrast(94%);
}

.jest:hover {
    filter: brightness(0) saturate(100%) invert(29%) sepia(36%) saturate(972%) hue-rotate(292deg) brightness(99%) contrast(84%);
}