/* COMMON =============================================================================================> */
.technical-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1vw;
    border: 10px solid;
    border-image-slice: 1;
    border-width: .25vw;
    border-image-source: var(--accent-gradient);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    line-height: var(--lh);
    letter-spacing: var(--ls);
    word-spacing: var(--ws);
}

.technical-heading {
    color: var(--text);
    font-family: var(--alternate-font);
    font-variant: small-caps;
    font-weight: 500;
    margin-bottom: 2rem;
}

.technical-subtitle {
    color: var(--text);
    font-family: var(--body-font);
    font-weight: 400;
}

.technical-container-outer {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.technical-container-inner-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vw;
}

.technical-container-inner-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technical-list-1 {
    list-style: none;
    display: flex;
    width: 100%;
}

.technical-subgroup {
    display: flex;
    flex-direction: row;
}

.technical-list-1-group-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.technical-list-1-group-2 {
    display: flex;
    flex-direction: row;
}

.technical-list-1-group-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.technical-list-2 {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.technical-list-3 {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.skills-icon {
    width: auto;
    filter: brightness(0) saturate(100%) invert(96%) sepia(60%) saturate(1135%) hue-rotate(171deg) brightness(101%) contrast(100%);
}

.skills-icon-wide {
    height: auto;
    filter: brightness(0) saturate(100%) invert(96%) sepia(60%) saturate(1135%) hue-rotate(171deg) brightness(101%) contrast(100%);
}

/* Individual icon hover colors */
/* Front End */
.html:hover {
    filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(1506%) hue-rotate(351deg) brightness(101%) contrast(82%);
}

.css:hover {
    filter: brightness(0) saturate(100%) invert(38%) sepia(99%) saturate(6561%) hue-rotate(229deg) brightness(92%) contrast(93%);
}

.js:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(19%) saturate(1849%) hue-rotate(354deg) brightness(109%) contrast(94%);
}

.react:hover {
    filter: brightness(0) saturate(100%) invert(75%) sepia(27%) saturate(821%) hue-rotate(155deg) brightness(97%) contrast(102%);
}

.jquery:hover {
    filter: brightness(0) saturate(100%) invert(30%) sepia(90%) saturate(767%) hue-rotate(171deg) brightness(93%) contrast(94%);
}

.bootstrap:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(92%) saturate(6207%) hue-rotate(270deg) brightness(103%) contrast(97%);
}

.handlebars:hover {
    filter: brightness(0) saturate(100%) invert(19%) sepia(39%) saturate(385%) hue-rotate(349deg) brightness(93%) contrast(94%);
}

/* Back End */
.sql:hover {
    filter: brightness(0) saturate(100%) invert(69%) sepia(49%) saturate(7287%) hue-rotate(353deg) brightness(94%) contrast(84%);
}

.express:hover {
    filter: brightness(0) saturate(100%) invert(62%) sepia(9%) saturate(21%) hue-rotate(348deg) brightness(90%) contrast(88%);
}

.node:hover {
    filter: brightness(0) saturate(100%) invert(93%) sepia(70%) saturate(687%) hue-rotate(28deg) brightness(83%) contrast(85%);
}

.mongo:hover {
    filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(3784%) hue-rotate(121deg) brightness(94%) contrast(101%);
}

/* Other */
.jest:hover {
    filter: brightness(0) saturate(100%) invert(29%) sepia(36%) saturate(972%) hue-rotate(292deg) brightness(99%) contrast(84%);
}

.graphql:hover {
    filter: brightness(0) saturate(100%) invert(33%) sepia(72%) saturate(1736%) hue-rotate(291deg) brightness(90%) contrast(99%);
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 960px) {
    .technical-heading {
        font-size: var(--dh2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
    }

    .technical-subtitle {
        font-size: var(--dh3);
    }

    .technical-list-1 {
        flex-direction: row;
    }

    .technical-subgroup {
        width: 61.54%;
    }

    .technical-list-1-group-1 {
        width: 62.5%;
    }

    .technical-list-1-group-2 {
        justify-content: center;
        width: 37.5%;
    }

    .technical-list-1-group-3 {
        width: 38.46%;
    }

    .technical-list-2 {
        width: 53.85%;
    }

    .technical-list-3 {
        width: 23.08%;
    }

    .skills-icon {
        height: 4vw;
    }

    .skills-icon-wide {
        width: 4vw;
    }
}

/* TABLET VIEW =============================================================================================> */
@media screen and (min-width: 769px) and (max-width: 959px) {
    .technical-heading {
        font-size: var(--th2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
    }

    .technical-subtitle {
        font-size: var(--th3);
    }

    .technical-container-outer {
        width: 65%;
    }

    .technical-list-1 {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 20vw;
    }

    .technical-subgroup {
        width: 100%;
    }

    .technical-list-1-group-1 {
        width: 71.43%;
    }

    .technical-list-1-group-2 {
        justify-content: flex-end;
        width: 28.57%;
    }

    .technical-list-1-group-3 {
        width: 71.43%;
    }

    .technical-list-2 {
        width: 100%;
    }

    .technical-list-3 {
        width: 42.86%;
    }

    .skills-icon {
        height: 4vw;
    }

    .skills-icon-wide {
        width: 4vw;
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .technical-heading {
        font-size: var(--mh2);
        text-decoration: underline .1rem;
        text-underline-offset: .75rem;
    }

    .technical-subtitle {
        font-size: var(--mh3);
    }

    .technical-list-1 {
        align-items: center;
        flex-direction: column;
        height: 30vw;
    }

    .technical-subgroup {
        width: 100%;
    }

    .technical-list-1-group-1 {
        width: 71.43%;
    }

    .technical-list-1-group-2 {
        justify-content: flex-end;
        width: 28.57%;
    }

    .technical-list-1-group-3 {
        width: 71.43%;
    }

    .technical-list-2 {
        width: 100%;
    }

    .technical-list-3 {
        width: 42.86%;
    }

    .skills-icon {
        height: 8vw;
    }

    .skills-icon-wide {
        width: 8vw;
    }
}