.footer-container {
    display: flex;
    justify-content: center;
    margin: 0 3vw 3vw 3vw;
    border: 10px solid;
    border-image-slice: 1;
    border-width: .25vw;
    border-image-source: var(--accent-gradient);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.footer {
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.footer-icon {
    width: 2.5vw;
    height: auto;
    color: var(--text);
}

.footer-icon:visited {
    color: var(--text);
}

.footer-icon:hover {
    color: var(--highlight);
}