/* COMMON =============================================================================================> */
.footer-container {
    display: flex;
    justify-content: center;
    margin: 0 3vw 3vw 3vw;
    border: 10px solid;
    border-image-slice: 1;
    border-width: .25vw;
    border-image-source: var(--accent-gradient);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.footer {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-icon {
    height: auto;
    color: var(--text);
}

.footer-icon:visited {
    color: var(--text);
}

.footer-icon:hover {
    color: var(--highlight);
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 960px) {
    .footer-icon {
        width: 2.5vw;
    }
}

/* TABLET VIEW =============================================================================================> */
@media screen and (min-width: 769px) and (max-width: 959px) {
    .footer-icon {
        width: 4.5vw;
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .footer-icon {
        width: 6.5vw;
    }
}